
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.nav{
	background: #b2b2b2;
}


.nav li {
	list-style: none;
	display: inline-block;
	text-align: center
}


.Container{
	padding: 0 1rem;
}

.btn {
	display: inline-block;
	border: none;
	color: #fff;
	background: #555;
	padding: 7px 20px;
	cursor: pointer;
}

.btn:hover {
	background: #666;
}